
// Typography 

$primary-font: 'Overpass mono', monospace;
$secondary-font: 'Overpass', sans-serif;

$header-font-family: $primary-font;
$body-font-family: $secondary-font;

// Colors

$primary: #0971FF;
$base: #2C2F31;
$light-blue-bg: #F7FBFC;
$gray: #7D8285;
$gray-bg: #F5F6F8;
$gray-light: #CED4DA;
$white: #FFF;