.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  &:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
}

.form-control-lg, 
.input-group-lg>.form-control, 
.input-group-lg>.input-group-append>.btn, 
.input-group-lg>.input-group-append>.input-group-text, 
.input-group-lg>.input-group-prepend>.btn, 
.input-group-lg>.input-group-prepend>.input-group-text {
  padding: .6rem 1rem;
  font-size: 1.1rem;
  line-height: 1.5;
  border-radius: .3rem;
}

.input-group-lg>.input-group-append>.btn {
  padding: .6rem 2rem;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.input-group-prepend {
  margin-right: -1px;
}

.input-group-append {
  margin-left: -1px;

 .btn {
    position: relative;
    z-index: 2;
  }
}

.input-group-append,
.input-group-prepend {
  margin-right: -1px;
  display: flex;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.input-group > .custom-file, 
.input-group > .custom-select, 
.input-group > .form-control {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle), 
.input-group>.input-group-append:last-child>.input-group-text:not(:last-child), 
.input-group>.input-group-append:not(:last-child)>.btn, 
.input-group>.input-group-append:not(:last-child)>.input-group-text, 
.input-group>.input-group-prepend>.btn, 
.input-group>.input-group-prepend>.input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group>.input-group-append>.btn, 
.input-group>.input-group-append>.input-group-text, 
.input-group>.input-group-prepend:first-child>.btn:not(:first-child), 
.input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), 
.input-group>.input-group-prepend:not(:first-child)>.btn, 
.input-group>.input-group-prepend:not(:first-child)>.input-group-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group>.custom-select:not(:first-child), 
.input-group>.form-control:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group>.custom-select:not(:last-child), 
.input-group>.form-control:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group {
  max-width: 600px;
}