.table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  
  thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }

  td, th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

th {
    text-align: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}